
 /*-------- dil deiştirme kodu dışşşş--------*/

.kartdil {
width: 200px;
    height: 170px;
    border-radius: 25px;
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.21);
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: center;
    margin-left:1010px;
    margin-top: -140px;
    margin-bottom: 30px;
}


.bayrakdiziliş {
    margin-left:30px  ; 
    margin-top: 30px ;
    margin-right: 30px;
}


.bayrakdiziliş2 {
    margin-left:30px  ; 
    margin-top: 3px ;
    margin-right: 30px;
}






/* koyuu mod kodu*/


body {
    font-family: sans-serif;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    max-width: 5000rem;
    padding: 0 0.9375rem;   
}




.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #black;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.dark,
.dark * {
    background-color:#263238 ;
    color:#161616;
    border-color:#424242 ;
}




   /* kayann resim kodu*/



/*kan resim bitti*/
.menü{
   
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
	width: 140px;
	height: 60px;
	background-color:renk;
	border-radius: 15px;
	text-align: center;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

}

.menü4{
   
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
    width: 190px;
    height: 60px;
    background-color:renk;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}



.başlık {
	align-items: center;
	vertical-align: center;
	font-size: 60px;
	margin-left: 490px; 
}

.menüdış {
	margin-left: 70px;
	float: left;
	margin-top: 30px;
align-items: center;
	vertical-align: center;
}
 .menüleft {
 	margin-left: 50px;
 }



/*ürün kutuları*/


.kart{
	width: 250px;
	height: 400px;
	background-color:renk ;
	border-radius: 35px;
	box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
    text-align: center;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;




}

.kartdış {

    float:left;

    margin-right: 30px;
    
    margin-top: 50px;

    margin-left: 45px;



}


.kartdış2{


    float:left;

    margin-right: 30px;

margin-top: 40px;


    margin-left: 45px;

}

.kartdış3{


    float:left;

    margin-right: 30px;

margin-top: 40px;


    margin-left: 45px;

}
.kartdış4{


    float:left;

    margin-right: 30px;

margin-top: 40px;


    margin-left: 45px;

}


/*  menü link leri */
a:link {
  color: #43A047;
}

a:visited {
	color:black;
}

a:hover{
	color: #D50000;
}

a:active{
	color: #D50000;
}

a {
	text-decoration: none;
}

/*menü link bitti*/

/*   kutu resim leri kodları    */
.kuturesmi {
    width: 200px; height: 200px; border-radius: 35px;

}



/*   kutu resim leri kodları bitti   */

 .saat{
    margin-left: 0px;
 }